body{
	background-image: url(highway-2025863_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#FullNav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow: hidden;
  transition: 0.7s;
}

.content {
  text-align: center;
  margin-top: 150px;
}

#FullNav a {
  padding: 10px;
  text-decoration: none;
  font-size: 35px;
  color: aliceblue;
  display: block;
	cursor: pointer;
}

#FullNav a:hover {
  color: firebrick;
	font-size: 40px;
	transition: 0.5s;
}

button{
	padding: 5px 10px;
	background-color: rgba(225,225,225,0);
	border: none;
	cursor: pointer;
	font-size: 25px;
	color: aliceblue;
}

button:hover{
	color: firebrick;
}

.window{
	text-align: center;
	font-size: 20px;
	color: aliceblue;
}
